PORT=3000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nest_prisma_db
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nest_prisma_db?schema=public"
